@import '_normalize', '_variables', '_mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Open Sans Condesed', sans-serif, Arial, 'FontAwesome';
  font-size: 1.13em;
  color: $dark-gray;

  @include desktop {
    font-size: 1em;
  }
}

body {
  background-image: url($background-main-img);
  background-size: 100%;
  background-repeat: repeat-y;
}
