$background-main-img: 'https://images.pexels.com/photos/1303098/pexels-photo-1303098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';

/* colors */
$light-gray: #858585;
$semi-dark-gray: #757575;
$dark-gray: #353535;
$white: #ffffff;
$white-transparent-bold: rgba(255,255,255, 0.7);
$white-transparent-light: rgba(255,255,255, 0.6);
$gray-transparent-light: rgba(0,0,0, 0.1);
$gray-transparent-dark: rgba(0,0,0, 0.5);

$color_text-warning: #ff0000;
